body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}
  
.dark-mode {
    background-color: #202124;
    color: rgb(255, 255, 255);
}

html {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 1.3rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: 99;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    height: auto;
    width: 16.2rem;
    margin: 0 auto;
    border: 1px solid rgb(94, 94, 94);
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1rem;
    width: 8rem;
    
}

.header-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: auto;
    margin: 0 auto; 
}

.logoImg {
    display: flex;
    height: 1rem;
    width: auto;
    border-radius: 25%;
    padding: 0 12px;
    border: 1px solid rgb(94, 94, 94);
}

.nameBanner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1rem;
    width: 100%;
    font-size: .4rem;
    color: rgb(185, 185, 185);
    font-weight: 600;
    padding: 0 0.2rem;
    
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-link {
    display: flex;
    align-items: center;
    margin-right: 01rem;
    cursor: pointer;
    color: #8b8b8b;
    font-size: .3rem;
    font-weight: 500;
    padding: 0 0.1rem;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: auto;
}

.lightBtn {
    background-color: #fbd38d
}

.darkBtn {
    background-color: #be7af7;
}

.themeButton {
    display: flex;
    height: .7rem;
    width: .7rem;
    border-radius: 20%;
}

.main {
    position: relative;;
}

.main .main-wrapper {
    width: 15rem;
    margin: 0 auto;
}

.main-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.main-wrapper-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    margin: 0rem auto;
    border: 1px solid rgb(94, 94, 94);
}

.main-wrapper-bubble {
    display: flex;
    margin: .5rem auto;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 6rem;
    background-color: rgb(68, 68, 68); 
    border-radius: 30px;
    font-size: medium;
}

.profile-wrapper {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 2rem;
    width: 10rem;
    margin: 1px auto;
    border: 1px solid rgb(94, 94, 94);
}

.profile-wrapper h2 {
    font-weight: 600;
    color: rgb(247, 247, 247);
    margin: 0rem 0rem;
}

.profile-wrapper-img {
    height: 2rem;
    width: 2rem;
    margin: 0rem .8rem;
    border: 1px solid rgb(94, 94, 94);
    border-radius: 50%;
}

.footer {
    position: relative;
    z-index: 99;
    background-color: black;
}